mixin questions()
  +b.SECTION.questions
    +e.DIV.container
      +b.DIV.list-questions
      
        //- question
        +b.DIV.question
          +e.DIV.title 
            i.fa.fa-plus
            h3 Can i work with a personal trainer?
          +e.DIV.text 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut morbi tincidunt augue interdum. Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris.  
      
        //- question
        +b.DIV.question
          +e.DIV.title 
            i.fa.fa-plus
            h3 Can i work with a personal trainer?
          +e.DIV.text 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut morbi tincidunt augue interdum. Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris.  
      
        //- question
        +b.DIV.question
          +e.DIV.title 
            i.fa.fa-plus
            h3 Can i work with a personal trainer?
          +e.DIV.text 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut morbi tincidunt augue interdum. Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris.  
      
        //- question
        +b.DIV.question
          +e.DIV.title 
            i.fa.fa-plus
            h3 Can i work with a personal trainer?
          +e.DIV.text 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut morbi tincidunt augue interdum. Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris.  
      
        //- question
        +b.DIV.question
          +e.DIV.title 
            i.fa.fa-plus
            h3 Can i work with a personal trainer?
          +e.DIV.text 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut morbi tincidunt augue interdum. Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris.  
      
        //- question
        +b.DIV.question
          +e.DIV.title 
            i.fa.fa-plus
            h3 Can i work with a personal trainer?
          +e.DIV.text 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut morbi tincidunt augue interdum. Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris.  
      
        //- question
        +b.DIV.question
          +e.DIV.title 
            i.fa.fa-plus
            h3 Can i work with a personal trainer?
          +e.DIV.text 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut morbi tincidunt augue interdum. Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris.  
      
        //- question
        +b.DIV.question
          +e.DIV.title 
            i.fa.fa-plus
            h3 Can i work with a personal trainer?
          +e.DIV.text 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut morbi tincidunt augue interdum. Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris.  
      
        //- question
        +b.DIV.question
          +e.DIV.title 
            i.fa.fa-plus
            h3 Can i work with a personal trainer?
          +e.DIV.text 
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut morbi tincidunt augue interdum. Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris.  
            
