mixin top-line()
  +b.DIV.top-line
    +e.DIV.container
      +b.DIV.contact-info
        +e.H5.phone +999 888 777 666
        +e.H5.email example@example.com
        +e.H5.working Working 24/7
      +b.DIV.social-icons
        +e.A.icon-link(href="#")
          +e.I.icon(class="fa fa-facebook")
        +e.A.icon-link(href="#")
          +e.I.icon(class="fa fa-instagram")
        +e.A.icon-link(href="#")
          +e.I.icon(class="fa fa-twitter")
        +e.A.icon-link(href="#")
          +e.I.icon(class="fa fa-youtube")
        +e.A.icon-link(href="#")
          +e.I.icon(class="fa fa-google-plus")
