//*********************************************
//		Assets
//*********************************************
@import "options/theme-options"
@import "_base/reset"
@import "_base/fonts"
@import "_base/grid"
@import "_base/libs"
@import "Blocks/Shortcodes/shortcodes"

// Style
.page
  background-size: 100%
  background-position:  center
  background-repeat: repeat-y

//*********************************************
//		Blocks
//*********************************************
@import "Blocks/header/header-v1/header-v1"

// Pages
@import "Blocks/Pages/Home/Home"
@import "Blocks/Pages/Contact/Contact"

@import "Blocks/footer/footer"
//*********************************************
//		Media
//*********************************************
@import "_base/media"
