include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include Blocks/head/head
include Blocks/header/header-v1/header-v1
include Blocks/footer/footer

doctype html
html(lang="en")

	block head
		head
			+head({
				"title": "Arial gym",
				"author": "Denisoed",
				"description": "Arial gym"
			})
			
		+b.BODY.page(style="background-image: url('img/body-bg.jpg')")
			+e.DIV.wrap
				block header
					+header-v1()
					
				block content

				block footer
					+footer()
			block vendors
				// build:js js/vendor.js
				script( src="libs/jquery/dist/jquery.min.js")
				// endbuild

			block scripts
				// build:js js/main.js
				script( src="js/main.js")
				// endbuild
