include ../../../Shortcodes/Link-button/link-button

mixin our-team()
  +b.SECTION.our-team
    +e.DIV.container
        
      +b.DIV.trainer
        +e.DIV.img(style="background-image: url('img/trainer.jpg')")
        +e.H5.name John doe
        +e.SPAN.position Gym instructor
        +e.DIV.social-icons
          a(href="#")
            i.fa.fa-facebook
          a(href="#")
            i.fa.fa-twitter
          a(href="#")
            i.fa.fa-instagram
        +e.P.text In ut ipsum ac diam egestas fermentum. Praesent laoreet semper lectus!     
        +link-button('View detail')
      
      +b.DIV.trainer
        +e.DIV.img(style="background-image: url('img/trainer1.jpg')")
        +e.H5.name John doe
        +e.SPAN.position Gym instructor
        +e.DIV.social-icons
          a(href="#")
            i.fa.fa-facebook
          a(href="#")
            i.fa.fa-twitter
          a(href="#")
            i.fa.fa-instagram
        +e.P.text In ut ipsum ac diam egestas fermentum. Praesent laoreet semper lectus!     
        +link-button('View detail')
      
      +b.DIV.trainer
        +e.DIV.img(style="background-image: url('img/trainer2.jpg')")
        +e.H5.name John doe
        +e.SPAN.position Gym instructor
        +e.DIV.social-icons
          a(href="#")
            i.fa.fa-facebook
          a(href="#")
            i.fa.fa-twitter
          a(href="#")
            i.fa.fa-instagram
        +e.P.text In ut ipsum ac diam egestas fermentum. Praesent laoreet semper lectus!     
        +link-button('View detail')
        
      +b.DIV.trainer
        +e.DIV.img(style="background-image: url('img/trainer.jpg')")
        +e.H5.name John doe
        +e.SPAN.position Gym instructor
        +e.DIV.social-icons
          a(href="#")
            i.fa.fa-facebook
          a(href="#")
            i.fa.fa-twitter
          a(href="#")
            i.fa.fa-instagram
        +e.P.text In ut ipsum ac diam egestas fermentum. Praesent laoreet semper lectus!     
        +link-button('View detail')
      
      +b.DIV.trainer
        +e.DIV.img(style="background-image: url('img/trainer1.jpg')")
        +e.H5.name John doe
        +e.SPAN.position Gym instructor
        +e.DIV.social-icons
          a(href="#")
            i.fa.fa-facebook
          a(href="#")
            i.fa.fa-twitter
          a(href="#")
            i.fa.fa-instagram
        +e.P.text In ut ipsum ac diam egestas fermentum. Praesent laoreet semper lectus!     
        +link-button('View detail')
      
      +b.DIV.trainer
        +e.DIV.img(style="background-image: url('img/trainer2.jpg')")
        +e.H5.name John doe
        +e.SPAN.position Gym instructor
        +e.DIV.social-icons
          a(href="#")
            i.fa.fa-facebook
          a(href="#")
            i.fa.fa-twitter
          a(href="#")
            i.fa.fa-instagram
        +e.P.text In ut ipsum ac diam egestas fermentum. Praesent laoreet semper lectus!     
        +link-button('View detail')
