include ../../Shortcodes/Section-banner/section-banner
include ../../Shortcodes/We/we
include post/post

mixin blog-detail()
  +section-banner("background-image: url('img/blog-bg.jpg')", 'Fitness Blog', 'Fitness, Gyms & Personal Trainers.')
  +post()
  +we()
  
