include ../../Shortcodes/Section-banner/section-banner
include ../../Shortcodes/We/we
include blog-list/blog-list

mixin blog()
  +section-banner("background-image: url('img/blog-bg.jpg')", 'Fitness Blog', 'Fitness, Gyms & Personal Trainers.')
  +blog-list()
  +we()
