/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	header
		.main-menu
			.btn-menu
				display: block
				align-self: flex-start
				margin-top: 45px
			.logo_and_nav
				flex-direction: column
				align-items: flex-start
			&_navbar
				display: none
				flex-direction: column
				padding-bottom: 15px
				a
					margin: 0
					white-space: nowrap
	.logotype
		padding: 18px 0

	.footer
		.footer_top-line
			.sign_up_for_updates
				form
					justify-content: flex-start
	.footer-block
	  +col(6)				
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	header
		.top-line
			.contact-info
				flex-direction: column

	.footer			
		&__top-line
			flex-direction: column
			h5
				margin-top: 30px
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
