mixin features()
  +b.SECTION.features
    +e.DIV.container
      +e.DIV.list
        +b.DIV.features-item
          +e.I.icon(class="fa fa-heart-o")
          +e.SPAN.total 2034
          +e.H4.title Happy Clients 
        +b.DIV.features-item
          +e.I.icon(class="fa fa-thumbs-o-up")
          +e.SPAN.total 118
          +e.H4.title Success Stories
        +b.DIV.features-item
          +e.I.icon(class="fa fa-clock-o")
          +e.SPAN.total 735
          +e.H4.title Working hours 
        +b.DIV.features-item
          +e.I.icon(class="fa fa-smile-o")
          +e.SPAN.total 541
          +e.H4.title Perfect Bodies 
