mixin who-we()
  +b.SECTION.who-we
    +e.DIV.container
      +e.DIV.content
        +b.DIV.who-we-info
          +e.H4.title About the club
          +e.P.text Lorem ipsum dolor sit amet, eu sea cetero contentiones, ut mei ridens mollis prodesset. Ne atqui congue eirmod nec, nec assueverit instructior te. Amet expetenda urbanitas ei sed. An vix ipsum malis ignota, ad nec suavitate deseruisse. Movet nusquam at his, fugit aeterno vix ei. Lorem ipsum dolor sit amet, eu sea cetero contentiones, ut mei ridens mollis prodesset. Ne atqui congue eirmod nec, nec assueverit instructior te. Amet expetenda urbanitas ei sed. An vix ipsum malis ignota, ad nec suavitate deseruisse. Movet nusquam at his, fugit aeterno vix. Lorem ipsum dolor sit amet, eu sea cetero contentiones, ut mei ridens mollis prodesset. <br><br>Ne atqui congue eirmod nec, nec assueverit instructior te. Amet expetenda urbanitas ei sed. An vix ipsum malis ignota, ad nec suavitate deseruisse. Movet nusquam at his, fugit aeterno vix ei. Lorem ipsum dolor sit amet, eu sea cetero contentiones, ut mei ridens mollis prodesset. Ne atqui congue eirmod nec, nec assueverit instructior te. Amet expetenda urbanitas ei sed.
        +b.DIV.who-we-img
          img(src="img/about-the-club.jpeg", alt="")
