mixin best-offers()
  +b.SECTION.best-offers
    +e.DIV.container
      +e.DIV.list
      
        //- Offer
        +b.DIV.offer(style="background-image: url('img/img6.jpg')")
          +e.H4.title Lorem ipsum
          +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. In augue nisl, ornare volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In augue nisl, ornare volutpat.
      
        //- Offer
        +b.DIV.offer(style="background-image: url('img/img1.jpg')")
          +e.H4.title Lorem ipsum
          +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. In augue nisl, ornare volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In augue nisl, ornare volutpat.
      
        //- Offer
        +b.DIV.offer(style="background-image: url('img/img5.jpg')")
          +e.H4.title Lorem ipsum
          +e.P.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. In augue nisl, ornare volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In augue nisl, ornare volutpat.
