include pricing-banner/pricing-banner
include price-packages/price-packages
include best-offers/best-offers
include offers-ever/offers-ever
include ../../Shortcodes/We/we

mixin pricing()
  +pricing-banner()
  +offers-ever()
  +price-packages()
  +best-offers()
  +we()
