include ../../../Shortcodes/Section-title/section-title

mixin about-services()
  +b.SECTION.about-services
    +section-title("Services")
    +e.DIV.container
      //- Service
      +b.DIV.service
        h4 Personal Training
        p In ut ipsum ac diam egestas fermentum. Praesent laoreet semper lectus!
    
      //- Service
      +b.DIV.service
        h4 Sprinning classes
        p In ut ipsum ac diam egestas fermentum. Praesent laoreet semper lectus!
    
      //- Service
      +b.DIV.service
        h4 Group fitness classes
        p In ut ipsum ac diam egestas fermentum. Praesent laoreet semper lectus!
        
      //- Service
      +b.DIV.service
        h4 Weight manage
        p In ut ipsum ac diam egestas fermentum. Praesent laoreet semper lectus!
    
      //- Service
      +b.DIV.service
        h4 Pilates
        p In ut ipsum ac diam egestas fermentum. Praesent laoreet semper lectus! 
    
      //- Service
      +b.DIV.service
        h4 Full locker room 
        p In ut ipsum ac diam egestas fermentum. Praesent laoreet semper lectus!
      
      //- Service
      +b.DIV.service
        h4 Yoga classes
        p In ut ipsum ac diam egestas fermentum. Praesent laoreet semper lectus!
    
      //- Service
      +b.DIV.service
        h4 Physical therapy
        p In ut ipsum ac diam egestas fermentum. Praesent laoreet semper lectus!
