include ../../../../Shortcodes/logotype/logotype

mixin we()
  +b.SECTION.we
    +e.DIV.container
      +e.DIV.box
        +b.DIV.we-info
          +logotype()
          +e.H3 In ipsum diam egestas fermentum.
        +b.DIV.social_icons
          +e.A(href="#")
            i.fa.fa-facebook
          +e.A(href="#")
            i.fa.fa-instagram
          +e.A(href="#")
            i.fa.fa-twitter
          +e.A(href="#")
            i.fa.fa-youtube
          +e.A(href="#")
            i.fa.fa-google-plus
