include ../../Shortcodes/Section-banner/section-banner
include ../../Shortcodes/We/we

mixin about-us()
  +section-banner("background-image: url('img/img2.jpg')", 'About Us', 'Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin, ')
  +we()
