include ../../Shortcodes/We/we
include ../../Shortcodes/Section-banner/section-banner
include our-team/our-team

mixin team()
  +section-banner("background-image: url('img/contact.jpg')", 'Our Team', 'Feel free to send us a message')
  +our-team()
  +we()
