include ../../../Shortcodes/Logotype/logotype

mixin main-menu()
  +b.DIV.main-menu
    +e.DIV.container
      +b.DIV.logo_and_nav
        +logotype()
        +b.NAV.main-menu_navbar
          +e.A.active(href="#") Home 
          +e.A(href="#") Team  
          +e.A(href="#") Blog  
          +e.A(href="#") Pricing  
          +e.A(href="#") About Us
          +e.A(href="#") Contact Us
      +b.DIV.btn-menu
        +e.SPAN  
