include ../../../Shortcodes/Logotype/logotype

mixin main-menu()
  +b.DIV.main-menu
    +e.DIV.container
      +b.DIV.logo_and_nav
        +logotype()
        +b.NAV.main-menu_navbar
          +e.A.active(href="/") Home 
          +e.A(href="team.html") Team  
          +e.A(href="team-detail.html") Team Detail  
          +e.A(href="blog.html") Blog  
          +e.A(href="blog-detail.html") Blog Detail  
          +e.A(href="pricing.html") Pricing  
          +e.A(href="about-us.html") About Us
          +e.A(href="contact.html") Contact Us
      +b.DIV.btn-menu
        +e.SPAN  
