mixin home-slider()
  +b.SECTION.home-slider
  
    //------HOME SLIDER--------//
    +e.DIV.box(class="owl-carousel")
    
      //- Slide 1
      +b.DIV.slider-slide(style="background-image: url('img/Slide.jpeg')" data-type="background" data-speed="5")
        +e.DIV.content
          h1.slide_content_title(data-animation-in="fadeInUp" data-animation-out="animate-out fadeOutDown") Your body is in your hands
          p.slide_content_desc(data-animation-in="rollIn" data-animation-out="animate-out rollOut") Free 30 days trial
          a.slide_content_button(href="#") Get in try now
      
      //- Slide 2
      +b.DIV.slider-slide(style="background-image: url('img/Slide2.jpg')" data-type="background" data-speed="5")
        +e.DIV.content
          h1.slide_content_title(data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutleft") Your body is in your hands
          p.slide_content_desc(data-animation-in="rollIn" data-animation-out="animate-out fadeOutLeft") Free 30 days trial
          a.slide_content_button(href="#") Get in try now
          
      //- Slide 3
      +b.DIV.slider-slide(style="background-image: url('img/Slide3.jpg')" data-type="background" data-speed="5")
        +e.DIV.content
          h1.slide_content_title(data-animation-in="slideInDown" data-animation-out="animate-out slideOutUp") Your body is in your hands
          p.slide_content_desc(data-animation-in="rollIn" data-animation-out="animate-out fadeOut") Free 30 days trial
          a.slide_content_button(href="#") Get in try now
      
      
