mixin plus-services()
  +b.SECTION.plus-services
    +e.DIV.container
      +e.DIV.list
        
        +b.DIV.plus-service
          +e.I.icon(class="fa fa-headphones")
          +e.H4.title Free Consultation
          +e.P.text In ipsum diam egestas fermentum. Praesent laoreet semper lectus In u t ipsum.
        
        +b.DIV.plus-service
          +e.I.icon(class="fa fa-star-o")
          +e.H4.title Exellent Service
          +e.P.text In ipsum diam egestas fermentum. Praesent laoreet semper lectus In u t ipsum.
        
        +b.DIV.plus-service
          +e.I.icon(class="fa fa-trophy")
          +e.H4.title Best Trainers
          +e.P.text In ipsum diam egestas fermentum. Praesent laoreet semper lectus In u t ipsum.
        
        +b.DIV.plus-service
          +e.I.icon(class="fa fa-thumbs-o-up ")
          +e.H4.title Work Programs
          +e.P.text In ipsum diam egestas fermentum. Praesent laoreet semper lectus In u t ipsum.
