mixin offers-ever()
  +b.SECTION.offers-ever
    +e.DIV.container
      +b.DIV.offers-ever-content
        +e.H3.title Best offers ever
        +e.P.text Aliquam malesuada laoreet quam et imperdiet elit posuere ut ellentesque egestas turpis in el venenatis metus lectus interdum lorem quis consequat diam massa sed nulla hasellus erat metus sagittis at nisi eget rutrum faucibus mauris vurabitur iaculis lacus in lectus viverrainterdum orci pharetra nullam blandit mauris vitae vehicula consequat aliquam erat volutpat ellentesque in porttitor orci integer accumsan ex sapien sit amet viverra
